body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #0077ff;
}

h1 {
  font-size: 30pt;
  color: darkslategray;
  text-shadow: 10px 10px 22px rgb(255, 9, 9);
  margin: 0px auto 10px auto;
  }

p {
  color:darkslategray;
  text-shadow: 10px 5px 5px rgb(255, 9, 9);
  margin: 10px auto 10px auto;
}

input, button {
  margin: 10px;
}